.celcius-container {
    text-align: none;
}

.result-container {
    display: flex;
    justify-content: none;
}

/* Style for Conversion Calculate section */
.calculate-container {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.calculate-container header {
    margin-bottom: 10px;
}

.calculate-container h3 {
    font-size: 18px;
    color: #333;
}

.calculate-container textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: none; /* Prevent textarea resizing */
}

.calculate-container .button {
    height: 32px;
    border: 0px;
    border-radius: 4px;
}

.calculate-container .button:active {
    transform: translateY(1px);
}


textarea {
    resize: none;
    background-color: #f8f8f8;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-family: math;
    font-size: 14px;
}

.button {
    height: 32px;
    border: 0px;
    border-radius: 4px;
}


.subject-info {
    font-size: 24px;
    font-style: italic;
    font-family: math;
}

.ri--celsius-fill {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M4.5 10a3.5 3.5 0 1 1 0-7a3.5 3.5 0 0 1 0 7m0-2a1.5 1.5 0 1 0 0-3a1.5 1.5 0 0 0 0 3M22 10h-2a4 4 0 0 0-8 0v5a4 4 0 0 0 8 0h2a6 6 0 0 1-12 0v-5a6 6 0 0 1 12 0'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

.ri--fahrenheit-fill {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 12h7v2h-7v7h-2V8a4 4 0 0 1 4-4h7v2h-7a2 2 0 0 0-2 2zm-7.5-2a3.5 3.5 0 1 1 0-7a3.5 3.5 0 0 1 0 7m0-2a1.5 1.5 0 1 0 0-3a1.5 1.5 0 0 0 0 3'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.h1 {
    text-align: center;
    background-color: yellowgreen;
}

.h3 {
    text-align: center;

}